@charset "utf-8";
/* CSS Document */

html, body {
	align-content: center;
	vertical-align: middle;
	
	margin: 10px;
	padding: 3px;
}

@font-face {
    font-family: SourceHanSerifCN-Regular;
    src: url(assets/font/SourceHanSerifCN-Regular.otf);
}

@font-face {
    font-family: SourceHanSerifTW-Regular;
    src: url(assets/font/SourceHanSerifTW-Regular.otf);
}

p {
	font-size: 16px;
}

.hans {
	font-family: SourceHanSerifCN-Regular;
}

.hant {
	font-family: SourceHanSerifTW-Regular;
}
